<div class="module-wrapper">
	<div class="row">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>渠道管理</h2>
				</div>
				<div class="x_content">
					<div class="tools-bar">
						<button class="btn btn-primary btn-add" ng-click="addChannel($event)">新增渠道</button>
					</div>
					<table class="table table-striped table-hover table-bordered channel-table">
						<thead>
							<tr>
								<th>渠道名称</th>
								<th>渠道描述</th>
								<th>编辑时间</th>
								<th>编辑人</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade custom-modal channel-modal form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          		</button>
				<h4 class="modal-title text-center" id="myModalLabel"><span class="pull-left">{{title}}渠道</span></h4>
			</div>
			<div class="modal-body">
				<div class="body-container" ng-class="{'success overflow':success}">
					<div class="submit-success transition-05" >
						<div class="center">
							<p class="icon"><i class="icon">&#xe60c;</i></p>
							<p class="text">提交成功</p>
						</div>
					</div>
					<form role="form" name="addChannelForm" class="clearfix transition-05" novalidate>
						<div class="form-line pull-left">
							<div class="form-tag">渠道名称</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="addChannelForm" model="channelFormModel.channel_name" valid="true" required="required" focus="focus" name="name"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">渠道备注</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." model="channelFormModel.channel_describe"></ng-input>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-submit" ng-click="submitForm($event)" ng-bind="success?'关闭':'提交'"></button>
			</div>
		</div>
	</div>
</div>