<div class="module-wrapper">
	<div class="row">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>发货管理</h2>
				</div>
				<div class="x_content">
					<!--filter-bar-->
					<div class="filter-bar form-line clearfix">
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">货物类别</div>
							<div class="channel-drapdown dropdown form-content transition-02">
								<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									<span class="val pull-left" ng-bind="filterBarModel.itemTypeName"></span>
									<div class="pull-right">
										<span class="caret icon-arrow"></span>
									</div>
								</a>
								<ul class="dropdown-menu animated fadeInUpSmall fast" role="menu">
									<li role="presentation" ng-repeat="item in filterBarData.itemTypeBoxModel.itemTypeModelList" ng-bind="item.itemTypeName" ng-click="typeClick($event,item.itemTypeName,item.itemTypeId)" ng-class="{'active':filterBarModel.itemTypeId===item.itemTypeId}"></li>
								</ul>
							</div>
						</div>
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">状态</div>
							<div class="channel-drapdown dropdown form-content transition-02">
								<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									<span class="val pull-left" ng-bind="filterBarModel.orderTypeName"></span>
									<div class="pull-right">
										<span class="caret icon-arrow"></span>
									</div>
								</a>
								<ul class="dropdown-menu animated fadeInUpSmall fast" role="menu">
									<li role="presentation" ng-repeat="item in filterBarData.orderTypeBoxModel.orderTypeModelList" ng-bind="item.orderTypeName" ng-click="stateClick($event,item.orderTypeName,item.orderTypeId)" ng-class="{'active':filterBarModel.orderTypeId===item.orderTypeId}"></li>
								</ul>
							</div>
						</div>
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">日期范围</div>
							<div class="form-content has-daterangepicker">
								<date-range-picker class="md" model="QueryDate" picker="picker"></date-range-picker>
							</div>
						</div>
						
						<div class="form-item btn-wrap clearfix col-md-3 col-sm-12 col-xs-12">
							<button type="submit" class="btn btn-success btn-query" ng-click="Query($event)">
								<span>查询</span>
								<i class="icon-loading"></i>
							</button>
						</div>
					</div>
					<!--datatable-->
					<table class="table table-striped table-hover table-bordered delivery-data">
						<thead>
							<tr>
								<th>uid</th>
								<th>服务单号</th>
								<th>货物类别</th>
								<th>数量</th>
								<th>手机号</th>
								<th>地址</th>
								<th>状态</th>
								<th>供货商单号</th>
								<th>异常原因</th>
								<th>订单时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>