<div class="module-wrapper">
	<div class="row">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>游戏管理</h2>
				</div>
				<div class="x_content">
					<!--filter-bar-->
					<div class="filter-bar form-line clearfix">
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">服务器选择</div>
							<div class="channel-drapdown dropdown select form-content transition-02">
								<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									<span class="val pull-left" ng-bind="filterBarModel.serverName"></span>
									<div class="pull-right">
										<span class="caret icon-arrow"></span>
									</div>
								</a>
								<div class="dropdown-menu search animated fadeInUpSmall fast" role="menu">
									<ng-input class="sm" icon-left="&#xe623;" model="inputKey" type="text" placeholder="搜索服务器"></ng-input>
									<div class="dropdown-list clearfix">
										<ul class="clearfix">
											<li role="presentation" ng-repeat="item in serverBox" ng-bind="item.serverName" ng-click="serverClick($event,item.serverName,item.serverId)" ng-show="drapListSearch(item.serverName)" ng-class="{'active':filterBarModel.serverId===item.serverId}"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="pull-right form-item btn-wrap clearfix col-md-3 col-sm-12 col-xs-12">
							<button type="submit" class="btn btn-success btn-query" ng-click="addGame($event)">
								<span>新增游戏配置</span>
								<i class="icon-loading"></i>
							</button>
						</div>
					</div>
					<!--datatable-->
					<table class="table table-striped table-hover table-bordered game-table">
						<thead>
							<tr>
								<th>操作</th>
								<th>编号</th>
								<th>奖品大类型</th>
								<th>比赛类别</th>
								<th>比赛名称</th>
								<th>比赛类型</th>
								<th>最少开赛人数</th>
								<th>最多开赛人数</th>
								<th>金币场最低入门数量</th>
								<th>金币场门槛最高</th>
								<th>房费</th><!--10-->
								<th>封顶分</th>
								<th>初始底分</th>
								<th>底分增长间隔时间</th>
								<th>默认倍数</th>
								<th>报名消耗物品id和数量</th>
								<th>对应图标显示</th>
								<th>奖励获取的最后为名次</th>
								<th>初始开始分</th>
								<th>开始淘汰的剩余人数</th>
								<th>进入淘汰赛的人数</th><!--20-->
								<th>淘汰赛进行的局数</th>
								<th>定时赛开始的每个月的日期</th>
								<th>比赛提前显示小时</th>
								<th>比赛提前报名分钟</th>
								<th>定时赛开始的每周几</th>
								<th>定时赛开启的小时</th>
								<th>定时赛开始的分钟</th>
								<th>定时赛允许迟到的秒数</th>
								<th>开放标志</th><!--29-->
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade custom-modal game-modal form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          		</button>
				<h4 class="modal-title text-center" id="myModalLabel"><span class="pull-left">{{title}}游戏配置</span></h4>
			</div>
			<div class="modal-body">
				<div class="body-container" ng-class="{'success overflow':success}">
					<div class="submit-success transition-05" >
						<div class="center">
							<p class="icon"><i class="icon">&#xe60c;</i></p>
							<p class="text">提交成功</p>
						</div>
					</div>
					<form role="form" name="modalForm" class="clearfix transition-05" novalidate>
						<div class="game-form-wrapper">
						<div class="form-line pull-left">
							<div class="form-tag">奖品大类型</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.match_item_type" valid="true" required="required" focus="focus" name="match_item_type"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">比赛类别</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.game_type" valid="true" required="required" focus="focus" name="game_type"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">比赛名称</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.name" valid="true" required="required" focus="focus" name="name"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">比赛类型</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.match_mode" valid="true" required="required" focus="focus" name="match_mode"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">最少开赛人数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.min_start_player_num" valid="true" required="required" focus="focus" name="min_start_player_num"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">最多开赛人数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.max_start_player_num" valid="true" required="required" focus="focus" name="max_start_player_num"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">金币场最低入门数量</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.can_int_min_coin" valid="true" required="required" focus="focus" name="can_int_min_coin"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">金币场门槛最高</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.can_in_max_coin" valid="true" required="required" focus="focus" name="can_in_max_coin"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">房费</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.table_cost" valid="true" required="required" focus="focus" name="table_cost"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">封顶分</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.max_point" valid="true" required="required" focus="focus" name="max_point"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">初始底分</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.init_base" valid="true" required="required" focus="focus" name="init_base"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">底分增长间隔时间</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.base_increase_second" valid="true" required="required" focus="focus" name="base_increase_second"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">默认倍数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.base_times" valid="true" required="required" focus="focus" name="base_times"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">报名消耗物品id和数量</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.sign_cost" valid="true" required="required" focus="focus" name="sign_cost"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">对应图标显示</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.icon_id" valid="true" required="required" focus="focus" name="icon_id"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">奖励获取的最后为名次</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.winner_rewards" valid="true" required="required" focus="focus" name="winner_rewards"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">初始开始分</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.init_start_scores" valid="true" required="required" focus="focus" name="init_start_scores"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">开始淘汰的剩余人数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.remain_player_num" valid="true" required="required" focus="focus" name="remain_player_num"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">进入淘汰赛的人数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.second_round_player_number" valid="true" required="required" focus="focus" name="second_round_player_number"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">淘汰赛进行的局数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.phase2_game_rounds" valid="true" required="required" focus="focus" name="phase2_game_rounds"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">比赛提前显示小时</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.early_show_hour" valid="true" required="required" focus="focus" name="early_show_hour"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">比赛提前报名分钟</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.early_exam_minute" valid="true" required="required" focus="focus" name="early_exam_minute"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">定时赛开始的每个月的日期</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.date_mon_day" valid="true" required="required" focus="focus" name="date_mon_day"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">定时赛开始的每周几</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.date_week_day" valid="true" required="required" focus="focus" name="date_week_day"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">定时赛开启的小时</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.date_day_hour" valid="true" required="required" focus="focus" name="date_day_hour"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">定时赛开始的分钟</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.date_hour_minute" valid="true" required="required" focus="focus" name="date_hour_minute"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">定时赛允许迟到的秒数</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.allow_late_minutes" valid="true" required="required" focus="focus" name="allow_late_minutes"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left last">
							<div class="form-tag">开放标志</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.open_flag" valid="true" required="required" focus="focus" name="open_flag"></ng-input>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-submit" ng-click="submitForm($event)" ng-bind="success?'关闭':'提交'"></button>
			</div>
		</div>
	</div>
</div>
