<div class="module-wrapper">
	<div class="row" ng-repeat="item in kpiList" repeat-finish="listFinish()">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>{{item.table}}</h2>
				</div>
				<div class="x_content">
					<table class="table table-striped table-hover table-bordered {{item.cless}}">
						<thead>
							<tr>
								<th ng-repeat="col in item.columns">{{col.name}}</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>