<div class="module-wrapper">
	<div class="row">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>ADX流量关系管理</h2>
				</div>
				<div class="x_content">
					<div class="filter-bar form-line clearfix">
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">渠道名称</div>
							<div class="channel-drapdown dropdown form-content transition-02">
								<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									<span class="val pull-left" ng-bind="filterBarModel.channel_name"></span>
									<div class="pull-right">
										<span class="caret icon-arrow"></span>
									</div>
								</a>
								<ul class="dropdown-menu animated fadeInUpSmall fast" role="menu">
									<li role="presentation" ng-click="channelClick($event,'','全部')" ng-class="{'active':mapPostData.channel_id==''}">全部</li>
									<li role="presentation" ng-repeat="item in allChannel" ng-bind="item.channel_name" ng-click="channelClick($event,item.channel_id,item.channel_name)" ng-class="{'active':mapPostData.channel_id===item.channel_id}"></li>
								</ul>
							</div>
						</div>
						<div class="form-item clearfix col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">应用名称</div>
							<div class="channel-drapdown dropdown form-content transition-02">
								<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									<span class="val pull-left" ng-bind="filterBarModel.app_name"></span>
									<div class="pull-right">
										<span class="caret icon-arrow"></span>
									</div>
								</a>
								<ul class="dropdown-menu animated fadeInUpSmall fast" role="menu">
									<li role="presentation" ng-click="appClick($event,'','全部')" ng-class="{'active':mapPostData.app_id==''}">全部</li>
									<li role="presentation" ng-repeat="item in allApp" ng-bind="item.app_name" ng-click="appClick($event,item.app_id,item.app_name)" ng-class="{'active':mapPostData.app_id===item.app_id}"></li>
								</ul>
							</div>
						</div>
						<div class="form-item btn-wrap clearfix col-md-3 col-sm-12 col-xs-12">
							<button type="submit" class="btn btn-success btn-query" ng-click="configQuery($event)">
								<span>查询</span>
								<i class="icon-loading"></i>
							</button>
						</div>
					</div>
					<table class="table table-striped table-hover table-bordered config-mapping">
						<thead>
							<tr>
								<th>渠道名称</th>
								<th>应用名称</th>
								<th>已复用应用数</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<!--<tr ng-repeat="item in configMapping">
								<td ng-bind="item.channel_name"></td>
								<td ng-bind="item.app_name"></td>
								<td>
									<button class="btn btn-danger" ng-click="CopyDel(item.channel_id,item.app_id)">删除</button>
									<button class="btn btn-primary" ng-click="showCopy(item.channel_id,item.app_id)">添加复用关系</button>
								</td>
							</tr>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade copy-modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          		</button>
          		
				<h4 class="modal-title text-center" id="myModalLabel"><span class="pull-left">添加复用关系</span><span class="red" ng-show="copyConfigErr" ng-bind="copyConfigErrMsg"></span></h4>
			</div>
			<div class="modal-body">
				<div class="form-line clearfix add-copy-bar">
					<div class="form-item col-md-4 col-xs-12">
						<div class="form-tag">对应关系</div>
						<div class="form-content fn-text-overflow" ng-bind="copyConfigDesc"></div>
					</div>
					<div class="form-item col-md-4 col-xs-12">
						<div class="form-tag">应用名称</div>
						<div class="dropdown form-content transition-02">
							<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
								<span class="val pull-left" ng-bind="copyAppName"></span>
								<div class="pull-right">
									<span class="caret icon-arrow"></span>
								</div>
							</a>
							<ul class="dropdown-menu animated fadeInUpSmall fast" role="menu">
								<li role="presentation" ng-repeat="item in copyAppList" ng-bind="item.app_name" ng-click="copeAppClick($event,item.app_id,item.app_name)" ng-class="{'active':mapPostData.app_id===item.app_id}"></li>
							</ul>
						</div>
					</div>
					<div class="form-item col-md-3 col-xs-12">
						<div class="form-tag">扣量比</div>
						<div class="form-content">
							<input class="amount" ng-model="addCopyPostData.amount" type="number" placeholder="请输入" max="100" min="0" />
						</div>
					</div>
					<div class="form-item col-md-1 col-xs-12">
						<button type="submit" class="btn btn-success" ng-click="addCopy($event)">添加</button>
					</div>
				</div>
				<table class="table table-striped table-bordered copy-config-mapping">
					<thead>
						<tr>
							<th>对应关系</th>
							<th>应用名称</th>
							<th>扣量值</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<!--<tr ng-repeat="item in configMapping">
							<td ng-bind="item.channel_name"></td>
							<td ng-bind="item.app_name"></td>
							<td>
								<button class="btn btn-danger" ng-click="CopyDel(item.channel_id,item.app_id)">删除</button>
								<button class="btn btn-primary" ng-click="showCopy(item.channel_id,item.app_id)">添加复用关系</button>
							</td>
						</tr>-->
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark" data-dismiss="modal">返回</button>
			</div>
		</div>
	</div>
</div>