<div class="module-wrapper">
	<div class="row">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>玩家管理</h2>
				</div>
				<div class="x_content">
					<!--filter-bar-->
					<div class="filter-bar form-line clearfix">
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">服务器选择</div>
							<div class="channel-drapdown dropdown select form-content transition-02">
								<a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									<span class="val pull-left" ng-bind="filterBarModel.serverName"></span>
									<div class="pull-right">
										<span class="caret icon-arrow"></span>
									</div>
								</a>
								<div class="dropdown-menu search animated fadeInUpSmall fast" role="menu">
									<ng-input class="sm" icon-left="&#xe623;" model="inputKey" type="text" placeholder="搜索服务器"></ng-input>
									<div class="dropdown-list clearfix">
										<ul class="clearfix">
											<li role="presentation" ng-repeat="item in serverBox" ng-bind="item.serverName" ng-click="serverClick($event,item.serverName,item.serverId)" ng-show="drapListSearch(item.serverName)" ng-class="{'active':filterBarModel.serverId===item.serverId}"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">玩家搜索</div>
							<div class="form-input transition-02">
								<ng-input class="md" placeholder="请输入uid..."  model="filterBarModel.userId" valid="true"></ng-input>
							</div>
						</div>
						<div class="form-item col-md-3 col-sm-12 col-xs-12">
							<div class="form-tag">角色名</div>
							<div class="form-input transition-02">
								<ng-input class="md" placeholder="请输入角色名..." model="filterBarModel.userName"  focus="focus"></ng-input>
							</div>
						</div>
						<div class="form-item btn-wrap clearfix col-md-3 col-sm-12 col-xs-12">
							<button type="submit" class="btn btn-success btn-query" ng-click="Query($event)">
								<span>查询</span>
								<i class="icon-loading"></i>
							</button>
						</div>
					</div>
					<!--datatable-->
					<table class="table table-striped table-hover table-bordered player-table">
						<thead>
							<tr>
								<th>uid</th>
								<th>用户名</th>
								<th>金钱</th>
								<th>元宝</th>
								<th>门票</th>
								<th>积分</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade custom-modal palery-modal form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          		</button>
				<h4 class="modal-title text-center" id="myModalLabel"><span class="pull-left">{{title}}</span></h4>
			</div>
			<div class="modal-body">
				<div class="body-container" ng-class="{'success overflow':success}">
					<div class="submit-success transition-05" >
						<div class="center">
							<p class="icon"><i class="icon">&#xe60c;</i></p>
							<p class="text">提交成功</p>
						</div>
					</div>
					<form role="form" name="modalForm" class="clearfix transition-05" novalidate>
						<div class="form-line pull-left" ng-if="formModel.actionId==4">
							<div class="form-tag">玩家名称</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.userName" valid="true" required="required" focus="focus" name="name"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">金钱(moeny)</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.money" valid="true" required="required" focus="focus" name="money"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">元宝(coins)</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.coins" valid="true" required="required" focus="focus" name="coins"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">门票(ticket)</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.ticket" valid="true" required="required" focus="focus" name="ticket"></ng-input>
							</div>
						</div>
						<div class="form-line pull-left">
							<div class="form-tag">积分(points)</div>
							<div class="form-input">
								<ng-input class="sm" placeholder="请输入..." form="modalForm" model="formModel.points" valid="true" required="required" focus="focus" name="points"></ng-input>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-submit" ng-click="submitForm($event)" ng-bind="success?'关闭':'提交'"></button>
			</div>
		</div>
	</div>
</div>