body {
    .dropdown-menu {
        max-height: 206px;
        overflow-y: scroll;
        border: medium none;
        box-shadow: none;
        display: none;
        float: left;
        font-size: 12px;
        left: 0;
        list-style: none outside none;
        padding: 0;
        position: absolute;
        text-shadow: none;
        top: 100%;
        z-index: 9998;
        border: 1px solid #c3cbd0;
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
    .dropdown-menu>li>a {
        color: #5A738E
    }
    .select.dropdown .dropdown-menu li {
        width: 100%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 41px;
        line-height: 40px;
        border-bottom: 1px solid #e7edf0;
        padding: 0 20px;
        -webkit-transition: all 0.2s ease;
        cursor: pointer;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        color: #798f9c;
    }
}